[Desktop Entry]
Name=LAB TOOL
Comment=LAB TOOL Program
Encoding=UTF-8
Exec=bash -c "xhost + && docker exec -u ubuntu -w /home/ubuntu 82df027dddb8 /bin/zsh -c 'bash ~/software/lab_config/main.sh'"
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
Icon=/home/pi/puppypi/lab.ico
